# Ignore Mac system files
.DS_Store

# Ignore log files
*.log

# Ignore binary files
*.bin

# Ignore temporary files
*.tmp

#Ignore .terraform folder
.terraform/*
**/.terraform/*
**/.terraform/**
04/terraform04/.terraform/providers/*
